:root {
    /* 그레이 */
    --black: #22252A;
    --gray-900: #393E47;
    --gray-500: #808999;
    --gray-100: #E6E7EB;
    --gray-50: #F4F4F6;
    --white: #ffffff;

    /* 브랜드 컬러 */
    --blue-100: #EBF9FF;
    --blue-500: #5294FF;

    /* 시맨틱 컬러 */
    --red-100: #FFF0F4;
    --red-500: #FF6B90;
}