/* box style */
.wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column;
}
.content-area {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-area::-webkit-scrollbar {
    display: none;
}
.toolbar {
    padding: 8px;
    min-height: var(--toolbar-min-height);
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    border-bottom: 1px solid var(--gray-100);
    align-items: center;
}
.bottom-bar {
    padding: 8px 8px 8px 16px;
    min-height: var(--toolbar-min-height);
    display: flex;
    border-top: 1px solid var(--gray-100);
    align-items: center;
    gap: 4px;
}
.tabbar {
    padding-left: 16px;
    padding-right: 8px;
    height: var(--toolbar-min-height);
    display: flex;
    justify-content: start;
    flex-flow: row;
    border-bottom: 1px solid var(--gray-50);
    align-items: center;
    position: sticky;
}
.row-8 {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    gap: 8px;
}
.row-0 {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    gap: 0px;
}
.row-4 {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 4px;
}
.page-title {
    padding: 32px 16px 8px 16px;
    font-size: var(--title-size);
}

/* component style */
button.solid {
    background-color: var(--black);
}
button.solid:active {
    background-color: var(--gray-900);
}
button.solid > .label {
    color: var(--white);
}
.comment {
    width: 100%;
    font-size: 15px;
    outline: none;
    vertical-align: middle;
    max-height: calc(1.5em * 4);
    overflow-y: auto;
}
.comment::-webkit-scrollbar {
    display: none;
}
.comment:empty:before {
    content: attr(data-placeholder);
    color: var(--gray-500);
}
.user-chip {
    padding: 4px 8px 4px 4px;
    border-radius: 24px;
    align-items: center;
    font-size: 13px;
    border: 1px solid var(--gray-100);
}
.user-chip .profile {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid var(--gray-100);
    overflow: hidden;
}
.status {
    display: inline-flex;
    flex-flow: row;
    align-items: center;
}
.status:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 4px solid var(--blue-500);
    display: block;
    border-radius: 100%;
    margin-right: 8px;
    box-sizing: border-box;
}
.badge-indicator {
    width: 4px;
    height: 4px;
    border-radius: 100%;
}
.badge {
    color: var(--gray-500);
    border-radius: 4px;
    padding: 2px 6px;
    background-color: var(--gray-50);
    font-size: 12px;
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    gap: 4px;
    line-height: 1.5em;
}
.action-button {
    border-radius: 8px;
    height: 40px;
    padding: 8px;
    flex-shrink: 0;
}
@media(min-width: 1024px) {
    .action-button:hover {
        background-color: var(--gray-50);
    }
}
@media(max-width: 1023px) {
    .action-button:active {
        background-color: var(--gray-50);
    }
}
.dropdown {
    background-color: var(--gray-50);
    margin-right: 8px;
}
@media(min-width: 1024px) {
    .dropdown:hover {
        background-color: var(--gray-100);
    }
}
@media(max-width: 1023px) {
    .dropdown:active {
        background-color: var(--gray-100);
    }
}
.toolbar-title {
    font-size: 18px;
}
.page-info-row {
    display: flex;
    flex-flow: row;
    padding: 0px 16px;
}
/* flex-shrink:0;을 설정해주지 않으면, 아이템이 가진 기본 너비로 아이템의 크기가 결정됨.
즉, 모든 flex 아이템은 flex-shrink: 1;이 기본값으로 설정돼 있음.  */
.page-info-record {
    width: 80px;
    height: 44px;
    flex-shrink: 0;
}
.page-info-value {
    font-size: 14px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 4px;
}
.label {
    color: var(--gray-500);
    display: inline;
    font-size: 14px;
}
.task-value {
    min-height: 44px;
    font-size: 14px;
    max-width: 100%;
    padding: 8px 0px;
    display: flex;
    align-items: center;
}
.page-info-icon {
    width: 20px;
    height: 20px;
}
.tab-list {
    height: 56px;
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-flow: row;
    gap: 16px;
}
.tab-list::-webkit-scrollbar {
    display: none;
}
.tab-button {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 13px;
    cursor: pointer;
    padding-bottom: 1px;
    justify-content: flex-end;
	-webkit-tap-highlight-color: transparent;
}
.tab-indicator {
    width: 100%;
    display: inline-block;
    border-radius: 3px;
    height: 3px;
}
.tab-indicator-active {
    width: 100%;
    display: inline-block;
    border-radius: 3px;
    height: 3px;
    background-color: var(--black);
}
.tab-label {
    font-size: 14px;
    height: 22px;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 4px;
    color: var(--gray-500);
}
.tab-label-active {
    font-size: 14px;
    height: 22px;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 4px;
}